
@{
    ViewBag.Title = "Datain";
}

@{
    string tag = "";
    string controllerActionPath = "";
    
   
    if (Session["message"] != null)
    {

        tag = "<p style='margin-top:50px;'>" + Session["message"] + "<p>";

    }
    else
    {
        controllerActionPath = @Url.Action("CreateNewFile","CreateDatain");
        tag = "<p style='margin-top:50px;'>Please click <a href=" + controllerActionPath + ">here</a> to create a new Datain file<p>";
    }
    @Html.Raw(tag);
}

