
@{
    ViewBag.Title = "ExceptionOccured";
}

<h2>ExceptionOccured</h2>

@{
    string tag = "";

    if (Session["exception"] != null)
    {


        tag = "<p>The service failed due to an exception. Please contact the service provider. Here is the details about the exception - " + Session["exception"] + "<p>";

    }
    else
    {
        tag = "<p>The service failed due to an exception. Please contact the service provider.</p>";
    }

    @Html.Raw(tag);
}




